<head>
  <title>Lance Chisholm, Software Engineer</title>
</head>
<body>
  <div class="container">
    <div class="name"><%= @full_name %></div>
    <div class="paragraph">
      <p>
        Welcome to my portfolio website.
        I have four years of software development experience.
        This website was made with Rails, jQuery and a couple of stress induced evenings.
      </p>
    </div>
    <div class="alert alert-primary" role="alert">
      This is a Bootstrap alert!
    </div>
  </div>
</body>