<div class="container container-header inline-flex">
  <div class="name col-4 justify-content-start">Lance Chisholm</div>
  <div class="col-8"><div>
  <div class="col-4 justify-content-end" id="nav_container">Navigation</div>
</div>